@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    background: #ECE9E6; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;

}

img{
    max-width: 100%;
}

.mobile-container {
background-color: #FFFFFF;
width: 400px;
}

header  {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

header input{
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
 }

header button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    background-color: rgb(199, 255, 229);
    padding: 0.5rem 1rem;
    text-align: center;
}


.fav-meals {
    display:flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

}

.fav-meals li {
    position: relative;
    margin: 5px;
    width: 75px;
}

.fav-meals li .clear {
    background-color: transparent;
    position: absolute;
    border: none;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
    opacity: 0;
}

.fav-meals li:hover .clear {
    opacity: 1;
}
.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #33331a;
    object-fit: cover;
    height: 70px;
    width: 70px;

}



.fav-meals li span {
    font-size: 0.9rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 75px;
    text-overflow: ellipsis;
} 

.meal {
margin: 1.5rem;
box-shadow: 0 0 10px 2px #3333331a;
border-radius: 3px;
    
}

.meal-header {
position: relative;
}

.meal-header .random {
position: absolute;
top: 10px;
background-color: #fff;
padding: 0.25rem 0.5rem;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

.meal-header img {
object-fit: cover;
height: 250px;
width: 100%;

}
.meal-body {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
}

 .meal-body h4 {
     margin: 0;
 }

 .meal-body .fav-btn {
     border: none;
     background-color: transparent;
     color:rgb(188, 197, 193);
     font-size: 1.2rem;
     cursor: pointer;
 }

 .meal-body .fav-btn.active {
     color:rgb(82, 199, 145);
 }